<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card-header text-center">
                <a href="/compras" class="text-dark" style="text-decoration: none;"><h2>Compras</h2></a>
            </div>
            <div class="d-grid gap-2 mb-3 mt-4">
                <a class="btn btn-success" href="/compras/add">Registrar Nueva Compra</a>
            </div>
            <form action="/compras" method="GET">
                <h5 class="mb-3 text-center">Filtrar por fechas</h5>
                <div class="input-group mb-3">
                    <span class="input-group-text">Fecha inicial</span>
                    <input type="date" class="form-control" name="q" value="{{q}}" aria-label="">
                    <span class="input-group-text">Fecha final</span>
                    <input type="date" class="form-control" name="q1" value="{{q1}}" aria-label="">
                    <button class="btn btn-primary" type="submit">Filtrar</button>
                </div>
            </form>
            {{#if montototall}}<h5 class="mb-3 text-center">Compras totales: S/. {{montototall}}</h5>{{/if}}
            {{#if compras}}
            <table class="table table-striped-columns text-center">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Fecha</th>
                        <th scope="col">Monto Total</th>
                        <th scope="col">Detalle Compra</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each compras}}
                    <tr>
                        <th>{{fecha_compra}}</th>
                        <td>S/. {{monto_total}}</td>
                        <td><a class="btn btn-outline-secondary" href="/compras/detalle/{{id_compra}}">Ver
                                Detalle</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <div class="container text-center">
                <div class="row mt-5">
                    <h3>No hay compras para mostrar</h3>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>